/* Desktop font */
:root
{
    height: 100%;
    font-size: 14pt; 
}

/* Mobile font */
@media only screen and (max-width: 600px)
{
    :root
    {
        font-size: 10pt;
    }
}

div.banner
{ 
    position: relative; 
    /* temporarily remove background-position */
}

div.banner-text 
{
    /* temporarily remove top and left */
    /* temporarily remove transform */
    bottom: 0;
    right: 0;
}

div.banner-text h1 
{
    margin: 0;
}

body
{
    font-family: sans-serif;
}

.content
{
    background-color: white;
    max-width: 800px;
    margin-left: 25px;
}

p
{
    font-size: 18px
}

h1, h2
{
    font-family: 'Montserrat';
}

.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    background-color: #006666;
}

.navbar li
{
    float: left;
}

.navbar li a 
{
    font-family: 'Montserrat';
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: white;
    background-color: #006666;
    text-decoration: none;
}

.navbar li a:hover 
{
    background-color: #111;
}

.title
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Link color scheme */

.content a:link
{
    color: #3EB489;
}

.content a:hover
{
    color:	#4FFFB0;
}

.content a:visited
{
    color: #00CCFF;
}

/* Footer */

.footer ul
{
    list-style-type: none;
    overflow: hidden;
    clear: both;
    background-color: #414A4C;
}

.footer li a 
{
    font-family: 'Montserrat';
    display: block;
    padding: 14px 32px;
    text-align: right;
    color: white;
}

/* Banner */

/* .banner
{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/blogbannerimage.png");
    height: 367px; 
    background-position: center -84px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

.banner
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/blogbannercrop367.png');
    background-position: center center, center -180px; 
    background-size: contain, cover;
    background-repeat: no-repeat;
    height: 367px;
}

.banner-text
{
    font-family: 'Montserrat';
    font-size: 28px;
    text-align: right;
    position: absolute;
    /* top: 50%;
    left: 50%;  
    transform: translate(50px, 250px); */
    color: #ffffff
}

/* Mobile Banner Display  */

@media only screen and (max-width: 600px)
{
    .banner
    {
        background-position: center center, left 0px;
    }
}

/* Blog Post Styling */

.byline
{
    text-align: right;
}

/* Blog Post Display */

.post-list li
{

    list-style-type: none;

}

.post-list li:not(:first-child)
{ 
    
    border-top: 1px solid black; 

} 

/* Gallery Styling */

.gallery
{

   /* margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;

}

.gallery img 
{

    border: 1px solid #ccc;
    max-width: 100%; 
    max-height: 200px

}

.gallery img:hover 
{

  border-color: #777;

}

/* Making Of images */

.makingof-image
{
    border: 1px solid #ccc;
}