body
{
    font-family: sans-serif;
}

/* body, html
{
    height: 50%;
} */

.content
{
    background-color: white;
    max-width: 800px;
    margin-left: 25px;
}

p
{
    font-size: 18px
}

h1, h2
{
    font-family: 'Montserrat';
}

.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006666;
}

.navbar li
{
    float: left;
}

.navbar li a 
{
    font-family: 'Montserrat';
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: white;
    background-color: #006666;
    text-decoration: none;
}

.navbar li a:hover 
{
    background-color: #111;
}

.title
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Footer */

.footer ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414A4C;
}

.footer li a 
{
    font-family: 'Montserrat';
    display: block;
    padding: 14px 32px;
    text-align: right;
    color: white;
}

/* Banner */

/* .banner
{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/blogbannerimage.png");
    height: 367px; 
    background-position: center -84px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

.banner
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/blogbannercrop.png');
    background-position: center center, center -200px;
    background-size: contain, cover;
    background-repeat: no-repeat;
    height: 367px;
}

.banner-text
{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(50%, 50%); 
    color: red;
}

/* Blog Post Styling */

.byline
{
    text-align: right;
}

/* Blog Post Display */

.feed li:not(:first-child)
{ 
    
    border-top: 1px solid black; 

} 