<!DOCTYPE HTML>
<html>
<head>    
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>


  <body>

    <div class="banner">
        <div class="banner-text">
            <h1>Art Blog Banner</h1>
            <p>Project</p>
        </div>
    </div>

     <header>
        <nav>
            <ul class="nav-ul">
                <li class="nav-li">
                    <a class="active" href="index.html">Homepage</a> 
                </li>
                <li class="nav-li">
                    <a href="posts.html">Posts</a>
                </li>
                <li class="nav-li">
                    <a href="gallery.html">Gallery</a>
                </li>
                <li class="nav-li">
                    <a href="makingof.html">Making Of</a>
                </li>
            </ul>
        </nav>
    </header>

    {{ content }}


  </body>

</html>