<!DOCTYPE HTML>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>


  <body>

    <div class="banner">
        <div class="banner-text">
            <h1>Art Blog Project</h1>
        </div>
    </div>

     <header>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/index.html">Homepage</a> 
                    </li>
                    <li>
                        <a href="/posts.html">Posts</a>
                    </li>
                    <li>
                        <a href="/gallery.html">Gallery</a>
                    </li>
                    <li>
                        <a href="/makingof.html">Making Of</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="content">

    {{ content }}

    </div>

    <footer>
        <div class="footer">
            <ul>
                <li>
                    <a>Created by LC for</a>
                </li>
                <li>
                    <a>Banner art by @screamoshaymin (Twitter)</a>
                </li>
            </ul>
         </div>
    </footer>

  </body>

</html>